body, html {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

main {
  position: relative;
  display: flex;
  flex: 1;
  background-color: white;
  width: 100%;
  height: calc(100vh - 40px);
  padding-top: 40px;
}

sidenav {
  z-index: 1;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: white;
  box-shadow: 0 4px 2px -2px gray;
  display: flex;
  justify-content: center;
  align-content: center;
}

sidenav nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

sidenav nav a {
  position: relative;
  margin-right: 20px;
  color: cornflowerblue;
  line-height: 37px;
  text-decoration: none;
}

sidenav nav a:hover {
  cursor: pointer;
}

sidenav .show_navbar_input {
  opacity: 0;
}

sidenav .show_navbar {
  display: none;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 9px;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

@media only screen and (max-width: 425px) {
  body {
    overflow: hidden;
  }

  sidenav .show_navbar {
    display: block;
  }

  sidenav nav {
    width: 50vw;
    position: absolute;
    transform: translateX(100%);
    right: 0;
    max-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(146, 146, 146, 0.3);
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
  }

  .show_navbar_input:checked + .show_navbar {
    background-color: rgba(146, 146, 146, 0.1);
    display: block;
    width: 50vw;
    left: 0;
    transform: translateX(0);
    height: 100vh;
    top: 0;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
  }
  .show_navbar_input:checked + .show_navbar + nav {
    transform: translateX(0);
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
  }
}
